* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", serif;
}

.container {
  min-height: 100vh;
  padding-top: 60px;
  background-color: #f3f5f7;
}

.inner-container {
  width: 377px;
  padding: 24px 16px;
  border-radius: 8px;
  margin-inline: auto;
  background-color: #fff;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.16);
}

.title {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 20px;
  text-align: center;
}
.big {
  width: 59px;
  height: 40px;
  border-radius: 6px;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  gap: 10px;
  background-color: #3b73ed;
  color: white;
  border-color: #3b73ed;
  border: none;
  font-size: 14px;
}
#text {
  width: 280px;
  height: 40px;
  opacity: 1;
  border-radius: 6px;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  border-width: 1px;
  border-color: rgba(228, 228, 231, 1);
}
.chooserbuttons {
  height: 32px;
  display: flex;
  column-gap: 6px;
  margin-block: 20px;
}
button {
  border: none;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  border-radius: 6px;
  padding-inline: 12px;
  text-transform: capitalize;
  transition: all 0.2s ease-in-out;
  color: rgba(54, 54, 54, 1);
  background-color: rgba(243, 244, 246, 1);
}
.item {
  width: 345px;
  height: 62px;
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 6px;
  padding: 16px;
  background-color: rgba(249, 250, 251, 1);
  margin-bottom: 20px;
  gap: 10px;
  font-size: 14px;
}
.item p {
  flex: 1;
}
.kkk {
  word-break: break-all;
  display: inline;
}
.chosen {
  background-color: #3b73ed;
  border: none;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  border-radius: 6px;
  padding-inline: 12px;
  text-transform: capitalize;
  transition: all 0.2s ease-in-out;
  color: white;
  background-color: #3b73ed;
}

.delete-btn {
  width: 67px;
  height: 30px;
  border-radius: 6px;
  padding-top: 6px;
  padding-right: 12px;
  padding-bottom: 6px;
  padding-left: 12px;
  background-color: rgba(254, 242, 242, 1);
  color: rgba(239, 68, 68, 1);
  font-size: 14px;
  margin-left: auto;
  border: none;
}
.checkbox {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border-width: 1px;
  border: 1px solid rgba(118, 118, 118, 1);
  appearance: auto;
  -webkit-appearance: auto;
  cursor: pointer;
}
.item input[type="checkbox"]:checked + .kkk {
  text-decoration: line-through;
}
.wholegraypart {
  font-size: 14px;
  color: #6b7280;
  text-align: center;
  padding-block: 12px 40px;
  font-weight: 400;
}
.last-part {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

.gray {
  font-size: 12px;
  color: #6b7280;
}

.pinecone {
  color: #3b73ed;
  margin-left: 4px;
  font-size: 12px;
}
.list {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.footer-row {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(107, 114, 128, 1);
  display: flex;
  padding-top: 16px;
  align-items: center;
  margin-bottom: 40px;
  justify-content: space-between;
  border-top: 1px solid #e5e7eb;
}
.footer-row .clear-completed {
  border: none;
  font-size: 14px;
  cursor: pointer;
  color: #ef4444;
  background-color: transparent;
}
